

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff7f0;
  gap: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  color: #cc6a2d;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 50px auto;
}

.hero-button {
  background-color: #cc6a2d;
  color: white;
  padding: 24px 48px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.hero-button:hover {
  background-color: #b85a1f;
}

.hero-image {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}


.listing-description {
  padding: 10px 20px 20px 20px;
  color: rgb(110, 43, 25);
  font-size: 14pt;
  min-height: 50px;
}
